$even-row-color: #e9e9e9;
$odd-row-color: #e8f5fd;

        #app-heading{
            text-align:center;
            font-weight:bold;
            font-size:40pt;
            margin:20pt;
        }
        #tweets{
            text-align:left;
            border: 1px solid grey;
        }
        #no-tweets{
            text-align:center;
            margin:5em;
        }
        #fetch-button{
            padding:.5em;
        }
        .tweet{
            padding:.5em;
            display:flex;
        }
        .even-tweet{
            background-color:$even-row-color
        }
        .odd-tweet{
            background-color:$odd-row-color;
        }
        .tweet-date{
            margin-bottom:.5em;
            font-style:italic;
            display:block;
        }
        .img-container{
            text-align:center;
            min-width:10%;
        }
        .msg-container{
            display:flex;
            justify-content:center;
            flex-direction:column;
        }
        .profile-img{
            border-radius:50%;
            display:block;
            margin:auto;
        }

        .tab-container {
          display: flex;
          padding: 24px;
          justify-content: end;
          flex-direction:row-reverse;
        }
        .tab {
          padding: 12px;
          border-radius: 25px;
          text-align: center;
          cursor: pointer;
          padding: 12px 24px;
          margin: 0 24px;
          font-size: 16px;
          letter-spacing: 0.5px;
          transition: all 0.5s ease;
          color: black;
          user-select: none;
        }
        .tab:hover {
          background-color: rgba(0, 43, 73, 0.17);
        }

        .active-tab {
          background-color: #002b49;
          color: white;
        }

        .tab-content {
        }

        .input,
        .submit {
            display: inline-block;
            padding: .5em;
            margin:.5em;
            font-size: 1em;
            border-radius: 5px;

            -webkit-appearance: none;
        }

        .input {
            border: 1px solid lightgray;
        }
        form{
            padding-top:20px;
        }

        .submit {
            background-color: #002b49;
            color: white;
            /**
             * If the input field has a border,
             * you need it here too to achieve equal heights.
             */
            border: 1px solid transparent;
        }
        .timeline-actions{
            display:flex;
            justify-content:space-between;
        }